.fondoIndex {
    background-image: url(../img/fondoHome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.fondoAcerca{
    background-image: url(../img/fotoHome.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}