@import "comons";
@import "sassRow";
@import "variables";
@import "mixing.scs";
@import "btn";
@import "fondoIndex";
@import "footer";

.card{
    display: flex;
    margin: 5px;
    align-items: center;
    @include propiedades(500px,auto, oscuro)
    .text-card{
        margin-left: 10px;
    }
    button{
        @extend .btn
        background-color: blue;
    }
}

.card-vertical{
    @extend .card
    flex-direction: column;
    @include propiedaddes(200px,auto,oscuro)
}


