* {
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Noto+Sans:wght@600&family=Roboto:wght@100;300;400&display=swap');

.fondoIndex {
  background-image: url(../img/fondoNegro.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fondoAcerca {
  background-image: url(../img/fondoNegro.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fondoServicios {
  background-image: url(../img/fondoNegro.jpg);
  background-repeat: no-repeat;
  text-align:justify;
  background-size:auto;
}

.fondoTrabajos {
  background-image: url(../img/fondoNegro.jpg);
  background-repeat: no-repeat;
  text-align:justify;
  background-size:auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

div h5 {
  font-size: x-small;
}

.fontWhite{
  text-decoration: none;
  color: white
}

.font{
  font-family: 'Bebas Neue', cursive;
}

.font2{
  font-family: 'Noto Sans', sans-serif;
}